<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{author.first_name}} {{author.last_name}}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail_theme.css' %}">
</head>
<body>
    <h1>{{authors.first_name}} {{author.last_name}}</h1>
    <p>ID: {{a.id}}</p>
    <div class="desc">
        <p>Notes:</p>
        <p class="details">{{author.notes}}</p>
    </div>

    <p>Books:</p> 
    <ul class="authors">
            {% for i in book %}
        <li>{{i.title}}</li>
            {% endfor %}
    </ul>
    <form class="add_new" action="/authors/{{author.id}}/updating_an_author" method="post">
        {% csrf_token %}
        <select name="new_book">
            {% for j in other_books_list %}
            <option value="{{j.id}}">{{j.title}}</option>
            {% endfor %}    
        </select>
        <button type="submit">Add</button>
    </form>
</body>
</html>