<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{book.title}}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail_theme.css' %}">
</head>
<body>
    <h1>{{book.title}}</h1>
    <p>ID: {{book.id}}</p>
    <div class="desc">
        <p>Description:</p>
        <p class="details">{{book.desc}}</p>
    </div>

    <p>Authors:</p> 
    <ul class="authors">
            {% for i in author %}
        <li>{{i.first_name}} {{i.last_name}}</li>
            {% endfor %}
    </ul>
    <form class="add_new" action="/books/{{book.id}}/updating_a_book" method="post">
        {% csrf_token %}
        <select name="new_author">
            {% for j in other_authors_list %}
            <option value="{{j.id}}">{{j.first_name}} {{j.last_name}}</option>
            {% endfor %}    
        </select>
        <button type="submit">Add</button>
    </form>
</body>
</html>